/* -----------------------------------------
   Custom.css - put your own changes here 
----------------------------------------- */
#btn_login {
    background-image: -moz-linear-gradient( -45deg, rgb(0,234,189) 0%, rgb(0,189,218) 100%);
    background-image: -webkit-linear-gradient( -45deg, rgb(0,234,189) 0%, rgb(0,189,218) 100%);
    box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10em !important;
    border: none;
    color:white;
    width:80%;
}
#btn_login:hover {
    background-image: -moz-linear-gradient( -45deg, rgb(0,234,189) 0%, rgb(0,189,218) 100%);
    background-image: -webkit-linear-gradient( -45deg, rgb(0,234,189) 0%, rgb(0,189,218) 44%);
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
}
#btn_login, #btn_login:hover {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

/*=================================================================
= custom drop zone (form Subir Archivo)
=================================================================*/
.dropzone .dz-default.dz-message {
    background-image: url('../img/up_archivos_btn.png') !IMPORTANT;    
    height: 158px ;
    margin-left: 0 !IMPORTANT;
    background-position: center center !IMPORTANT;
    margin-top: 0 !IMPORTANT;
    top: 0 !IMPORTANT;
    left: 0 !IMPORTANT;
    width: 100% !IMPORTANT;
    border: 2px dashed #00b39d;
    background-color: #f6fffe;
}
.dropzone {
    border: 0 !IMPORTANT;
    min-height: 157px !IMPORTANT;
    border-radius: 0 !IMPORTANT;
    background: transparent !IMPORTANT;
    padding: 0;
}
/*=================================================================
= backgroud page
=================================================================*/
.myinput1 {  
  width: 100%;
  font-size: 16px;
  height:27px;
  border: 1px solid #86e4db;
  color:black;
  padding: 3px 3px 3px 3px;
  
}

